{% extends 'layout.html' %}

{% block body %}



<h1>Converter Excel em Json</h1>
<h3>Converter seu documento Excel online</h3>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <div id="dropbox">
        Arraste seu documento aqui!
    </div><p>

    <fieldset id="progress" style="display: none">
        <legend>Progresso</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

<div class="col-md-12 text-center" style="margin-top: 40px;">
    <input type="submit" value="Converter" class="btn btn-outline-success" id="upload-button">
</div>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

{% endblock %}