{% extends 'layout.html' %}

{% block body %}

<div class="text-center">
    <!-- <h2>Converter Excel em Json</h2> -->
    <h3 style="margin-bottom: 20px">Identificador</h3>
	
	<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
	<div class="input-group">
      <input type="text" class="form-control" placeholder="Pesquise o identificador em comum">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
    </div>	
    </div>
    </div>

</div>

{% endblock %}