{% extends 'layout.html' %}

{% block body %}

<!-- <div class="text-center"> -->
    <!-- <h2>Converter Excel em Json</h2> -->
    <h3 style="margin-bottom: 20px" class="text-center">Identificador</h3>
	
	<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
        <form id="search" action="{{ url_for('search') }}" method="POST">
            <div class="input-group">
              <input name="word" type="text" class="form-control" placeholder="Pesquise o identificador em comum">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Buscar</button>
              </span>
            </div>	
        </form>
    </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-12">
                {{result | safe}}
            </div>
        </div>
    </div>

{% endblock %}

