#converter {
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50); */
    background: #537966;
    /*background-color: #5e4969;*/

    position: fixed; 
    width: 100%;
    height: 100%; 
    z-index: 10;
    top: 0; 
    left: 0; 
}


#converter img{
    position: fixed;
    top: 27%;
    left: 38%;

    height: 250px;
    width: auto;

}

#converter h5{
    position: fixed;
    top: 64%;
    left: 39.5%;

    color: #fff;

}

/******************************************/

.json-item {
    margin-bottom: 25px;
}

.json-item .media-body{
    margin-left: 25px;
}

.json-item .media-body a{
    
    margin-top: 10px;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;

    font: bold 11px;
    text-decoration: none;
    background-color: #9777a8;
    color: #fff;

}

.json-item .media-body a:hover{
    
    margin-top: 10px;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;

    font: bold 11px;
    text-decoration: none;
    background-color: #7b578e;
    color: #fff;

}

.json-img {
    height: 80px;
    width: auto;
    display: block;
    margin: 0 auto;

}

/*****************************************/

.dropbox {
    /*border: 2px dashed #28a745;*/
    background-color: #45A876;
    margin-top: 40px;

    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    padding-bottom: 3px;
    
    
}

#dropbox {
    border: 2px dashed #83FEC0;
    background-color: #1e6a43;
    color: white;
    font-size: 20px;

    padding: 140px;
    
    text-align: center;
}

#dropbox.active {
    background-color: #62d099;
    color: #28a745;
    /*border: 4px dashed #FF0000;*/
}

.progress-trough {
    border: 1px solid #000000;
    height: 28px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #1e6a43;
}
